body {
    background-color: turquoise;
    border: 10px dotted red;
}

h1 {
    font-size: 55px;
    color: red;
    font-family: Leelawadee;
    text-decoration: underline;
    padding-left: 15px;
}

p {
    font-size: 30px;
    color: white;
    font-family: "Times New Roman";
    width: 45%;
}

.brodyimg {
    float: right
}

