body {
    background-color: dimgrey;
    border: 10px solid whitesmoke;
}

h1 {
    font-size: 55px;
    color: ghostwhite;
    font-family: Leelawadee;
    text-decoration: underline;
    padding-left: 15px;
    margin-left: 50px;
}

p {
    font-size: 30px;
    color: white;
    font-family: "Times New Roman";
    width: 45%;
    margin-left: 50px;
}
ul {
    font-size: 30px;
    color: white;
    font-family: "Times New Roman";
    width: 45%;
    margin-left: 50px;
}

img {
    max-height: 400px;
    width: auto;
    margin-right: 100px;
    float: right
}

